@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap');

.container {
    container-type: inline-size;
    clear: right;
}

.title {
    color: var(--black);
    font-family: "Noto Sans";
    font-weight: 800;
    letter-spacing: 0.047rem;   
    font-size: clamp(3.438rem, 3.8vw, 10rem);
    height: fit-content;
    margin-top: 1vh;
    margin-left: var(--left-align-center);
    width: 34vw;
}

@container (max-width: 1010px) {
    .title {
        margin-top: clamp(2.188rem, 15%, 5rem);
        width: 75%;
        font-size: clamp(1.8rem, 3.5rem, 10vw);
        letter-spacing: 0.047rem;
    }
}

.emphasize_blue {
    color: var(--blue);
    font-style: normal;
}