@keyframes glow-in-out {

    0%,
    16.67% {
        opacity: 0;
    }

    83.33%,
    100% {
        opacity: 1;
    }
}

.glow {
    animation: glow-in-out cubic-bezier(0, 0.5, 0.5, 1) 1500ms infinite alternate;
}

.unglow {
    display: none
}